.chrome__sashikomi .p-memo__body {
  font-family : "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro W3",
  メイリオ, Meiryo, "ＭＳ Ｐゴシック", sans-serif !important;
  font-size   : 15px !important;
  line-height : 1.6 !important;

  > *:first-child {
    margin-top : 0 !important; }

  > *:last-child {
    margin-bottom : 0 !important; }

  a {
    color : #4183C4; }
  a.absent {
    color : #cc0000; }
  a.anchor {
    display      : block;
    padding-left : 30px;
    margin-left  : -30px;
    cursor       : pointer;
    position     : absolute;
    top          : 0;
    left         : 0;
    bottom       : 0; }

  h1, h2, h3, h4, h5, h6 {
    margin                 : 20px 0 10px !important;
    padding                : 0 !important;
    font-weight            : bold !important;
    -webkit-font-smoothing : antialiased !important;
    position               : relative !important; }

  h1 tt, h1 code {
    font-size : inherit; }

  h2 tt, h2 code {
    font-size : inherit; }

  h3 tt, h3 code {
    font-size : inherit; }

  h4 tt, h4 code {
    font-size : inherit; }

  h5 tt, h5 code {
    font-size : inherit; }

  h6 tt, h6 code {
    font-size : inherit; }

  h1 {
    font-size     : 18px !important;
    border-bottom : 1px solid #e4e4e4 !important;
    color         : #333 !important;
  }

  h2 {
    font-size : 18px !important;
    color     : #333 !important; }

  h3 {
    font-size     : 16px !important;
    border-bottom : 1px dashed #ccc !important;
    color         : #333 !important; }

  h4 {
    font-size : 16px !important;
    color     : #333 !important; }

  h5 {
    font-size : 14px !important;
    color     : #333 !important; }

  h6 {
    color     : #777777 !important;
    font-size : 14px !important; }

  p, blockquote, ul, ol, dl, li, table, pre {
    margin : 15px 0 !important; }

  p {
    text-align      : left !important;
    font-weight     : normal !important;
    text-decoration : none;
  }

  hr {
    border        : 0 !important;
    height        : 0 !important;
    border-top    : 1px solid #bbb !important;
    border-bottom : 1px solid #fff !important;
  }

  a:first-child h1, a:first-child h2, a:first-child h3, a:first-child h4, a:first-child h5, a:first-child h6 {
    margin-top  : 0 !important;
    padding-top : 0 !important; }

  h1 p, h2 p, h3 p, h4 p, h5 p, h6 p {
    margin-top : 0 !important; }

  ul, ol, li {
    margin : 0 !important;
  }

  ul, ol {
    padding-left : 30px !important; }

  ul :first-child, ol :first-child {
    margin-top : 0 !important; }

  dl {
    padding : 0 !important; }
  dl dt {
    font-size   : 14px;
    font-weight : bold;
    font-style  : italic;
    padding     : 0;
    margin      : 15px 0 5px; }
  dl dt:first-child {
    padding : 0; }
  dl dt > :first-child {
    margin-top : 0; }
  dl dt > :last-child {
    margin-bottom : 0; }
  dl dd {
    margin  : 0 0 15px;
    padding : 0 15px; }
  dl dd > :first-child {
    margin-top : 0; }
  dl dd > :last-child {
    margin-bottom : 0; }

  blockquote {
    border-left : 4px solid #dddddd !important;
    padding     : 0 15px !important;
    color       : #777777 !important; }
  blockquote > :first-child {
    margin-top : 0 !important; }
  blockquote > :last-child {
    margin-bottom : 0 !important; }

  table {
    padding : 0; border-collapse : collapse; }
  table tr {
    border-top       : 1px solid #cccccc;
    background-color : white;
    margin           : 0;
    padding          : 0; }
  table tr:nth-child(2n) {
    background-color : #f8f8f8; }
  table tr th {
    font-weight : bold;
    border      : 1px solid #cccccc;
    margin      : 0;
    padding     : 6px 13px; }
  table tr td {
    border  : 1px solid #cccccc;
    margin  : 0;
    padding : 6px 13px; }
  table tr th :first-child, table tr td :first-child {
    margin-top : 0; }
  table tr th :last-child, table tr td :last-child {
    margin-bottom : 0; }

  img {
    max-width : 100% !important;
    margin    : 0 auto !important;
    display   : block !important;
  }

  span.frame {
    display  : block;
    overflow : hidden; }
  span.frame > span {
    border   : 1px solid #dddddd;
    display  : block;
    float    : left;
    overflow : hidden;
    margin   : 13px 0 0;
    padding  : 7px;
    width    : auto; }
  span.frame span img {
    display : block;
    float   : left; }
  span.frame span span {
    clear   : both;
    color   : #333333;
    display : block;
    padding : 5px 0 0; }
  span.align-center {
    display  : block;
    overflow : hidden;
    clear    : both; }
  span.align-center > span {
    display    : block;
    overflow   : hidden;
    margin     : 13px auto 0;
    text-align : center; }
  span.align-center span img {
    margin     : 0 auto;
    text-align : center; }
  span.align-right {
    display  : block;
    overflow : hidden;
    clear    : both; }
  span.align-right > span {
    display    : block;
    overflow   : hidden;
    margin     : 13px 0 0;
    text-align : right; }
  span.align-right span img {
    margin     : 0;
    text-align : right; }
  span.float-left {
    display      : block;
    margin-right : 13px;
    overflow     : hidden;
    float        : left; }
  span.float-left span {
    margin : 13px 0 0; }
  span.float-right {
    display     : block;
    margin-left : 13px;
    overflow    : hidden;
    float       : right; }
  span.float-right > span {
    display    : block;
    overflow   : hidden;
    margin     : 13px auto 0;
    text-align : right; }

  code, tt {
    margin           : 0 2px !important;
    padding          : 0 5px !important;
    white-space      : nowrap !important;
    border           : 1px solid #eaeaea !important;
    background-color : #f8f8f8 !important;
    border-radius    : 3px !important; }

  pre code {
    margin      : 0 !important;
    padding     : 0 !important;
    white-space : pre !important;
    border      : none !important;
    background  : transparent !important; }

  .highlight pre {
    background-color : #444 !important;
    border           : 1px solid #cccccc !important;
    font-size        : 13px !important;
    line-height      : 19px !important;
    overflow         : auto !important;
    padding          : 6px 10px !important;
    border-radius    : 3px !important; }

  pre {
    background-color : #2D2D2D !important;
    border           : 1px solid #cccccc !important;
    font-size        : 13px !important;
    line-height      : 19px !important;
    overflow         : auto !important;
    padding          : 6px 10px !important;
    border-radius    : 3px !important; }

  pre code, pre tt {
    color            : #f8f8f8;
    background-color : transparent;
    border           : none; }

  sup {
    font-size      : 0.83px;
    vertical-align : super;
    line-height    : 0;
  }

  code {
    -webkit-border-radius : 3px;
    -moz-border-radius    : 3px;
    border-radius         : 3px;
    padding               : 0 2px;
    border                : solid 1px #CCC;
    background-color      : #f6f6f6;
    font-size             : .9em;
    font-family           : "Monaco", monospace, "Courier", "Inconsolata", "Bitstream Vera Sans Mono"; }

  .code-frame {
    -webkit-border-radius : 3px;
    -moz-border-radius    : 3px;
    border-radius         : 3px;
    margin                : 1em 0;
    border                : solid 1px #CCC;
    background-color      : #f6f6f6;
    line-height           : 0; }
  .code-frame .code-lang {
    -webkit-border-bottom-right-radius : 3px;
    -moz-border-radius-bottomright     : 3px;
    border-bottom-right-radius         : 3px;
    color                              : #4A4A4A;
    display                            : inline-block;
    padding                            : 3px 6px;
    margin                             : 0;
    line-height                        : .85em;
    background-color                   : #e6e6e6;
    font-size                          : .85em;
    font-weight                        : 400;
    border-right                       : solid 1px #CCC;
    border-bottom                      : solid 1px #CCC; }
  .code-frame pre {
    overflow         : auto;
    border           : none;
    padding          : .5em 1em;
    margin           : 0;
    background-color : transparent; }
  .code-frame pre code {
    border           : none;
    padding          : 0;
    margin           : 0;
    background-color : transparent;
    line-height      : 1.44em;
    font-size        : 0.9em;
    font-family      : "Monaco", monospace, "Courier", "Inconsolata", "Bitstream Vera Sans Mono"; }

  * {
    -webkit-print-color-adjust : exact;
  }

  @media print {
    table, pre {
      page-break-inside : avoid;
    }
    pre {
      word-wrap : break-word;
    }
  }
}