/* =======================================
  Foundation
==========================================*/
/* variable
-------------------------------------------*/
@import "base/variables";
/* base
--------------------------------------------*/
@import "base/normalize";
@import "base/typography";


.chrome__sashikomi {
  body {
    margin : 0;
  }

  button {
    &:active {
      position : relative;
      top      : 1px;
      right    : -1px;
    }

    &:focus {
      outline : none;
    }
  }
}


/* =======================================
  Layout
==========================================*/
@import "layout";

/* =======================================
  Object
==========================================*/
/*
  Component
--------------------------------------------*/
%c-btn--link {
  background : none;
  border     : none;
  margin     : 0;
  padding    : 0;
  color      : $link-color;
  &:hover {
    text-decoration : underline;
  }
}


%c-memo {
  position    : relative;
  display     : block !important;
  box-sizing  : border-box;
  margin      : 15px 0;
  width       : 100%;
  font-size   : 15px;
  color       : $default-font-color;
  border-left : 4px solid $accent-color;
  background  : $dark-white;

  &:hover {
    .p-memo__btn-group {
      display : block;
    }
  }
}


%c-memo__body {
  padding : 15px;
  @import "./tomorrow-night-eighties";
}


%c-btn-group {
  display  : none;
  position : absolute;
  top      : 0;
  right    : 0;
  overflow : hidden;
  width    : 100%;
  z-index  : 1;

  button {
    cursor     : pointer;
    display    : block;
    float      : right;
    background : $accent-color--rgba;
    border     : 0;
    padding    : 5px 15px;
    color      : $white;
    font-size  : 14px;

    &:hover {
      background-color : $accent-color;
    }
  }

  button + button {
    border-right : 1px solid $dark-white;
  }
}


/*
  Project
--------------------------------------------*/
@import 'project/page';
@import "project/ext";
@import "markdown";
