/* Extension Style
----------------------------------*/

/* MemoContainerComponent */
.chrome__sashikomi--ext {
  display   : block !important;
  margin    : 15px 0;
  width     : 100%;
  min-width : 200px;
  max-width : 1000px;
  color     : $default-font-color;

  /* EditorComponent */
  .p-editor {
    position    : relative;
    border      : 1px solid $accent-color;
    border-left : 4px solid $accent-color;
    overflow    : hidden;
    padding     : 0;
    margin      : 0;

    &:hover {
      .p-editor__btn-group {
        display : block;
      }

    }
  }

  .p-editor__btn-group {
    @extend %c-btn-group;
  }

  .p-editor__body {
    textarea {
      font-family : "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", sans-serif;
      display     : block !important;
      font-size   : 15px;
      line-height : 1.6;
      border      : none;
      width       : 100%;
      height      : 300px;
      box-sizing  : border-box;
      resize      : vertical;
      overflow    : auto;
      padding     : 15px;

      &:focus {
        outline : none;
      }
    }
  }

  /* MemoComponent */
  .p-memo {
    @extend %c-memo;
  }

  .p-memo__body {
    @extend %c-memo__body;
  }

  .p-memo__btn-group {
    @extend %c-btn-group;
  }

}
