/* Page Style
----------------------------------*/
.chrome__sashikomi--page {
  .p-header__title {
    margin      : 0;
    padding     : 0;
    color       : $white;
    font-size   : 1.6em;
    font-weight : normal;
    text-align  : center;
    word-break  : break-all;
  }

  .p-operation-container {
    margin   : 40px 0 20px;
    overflow : hidden;
  }

  .p-operation-btn {
    @extend %c-btn--link;
    float   : right;
    padding : 0 10px;
  }

  .p-memo {
    @extend %c-memo;
    border-left : 4px solid $yellow !important;
    margin      : 20px 0 !important;
  }

  .p-memo__body {
    @extend %c-memo__body;
  }

  .p-memo__btn-group {
    @extend %c-btn-group;
    button {
      background : $blur-yellow !important;

      &:hover {
        background : $yellow !important;
      }
    }
  }
}
